= form_for :users, url: reset_password_api_v1_users_path, method: 'POST' do |form|
  .row.set-search-bar
    .col-8
      = form.password_field :password, class: 'form-control formula'
      <label class="bmd-label-floating">confirm password</label>
      <input type="text" name="confirm_password" class="form-control">
      <%# = form.collection_select :name, Site.all, :id, :name, placeholder: "Choose a facility", include_blank: true %>
    .col-4
      = form.submit 'Search', :class => 'btn btn-primary search-button'
  